@import '../styleMixin/styleMixin.scss';

.sectionService {
    margin-top: $mt;
}

.contentItems {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 4%;
    gap: 1%;
}

.contentItemBox {
    flex-basis: 40%;
    display: grid;
    grid-template-columns: 100px clamp(200px, 27vw, 350px);
    grid-template-rows: 100px 1fr;
    grid-template-areas: 
        'img title'
        '. btn'
    ;
    gap: 10px;
    padding: 2%;

    &Img {
        grid-area: img;
        
        img {
            border-radius: 50%;
            border: 2px solid $primary-color-1;
        }
    }
    &Text {
        .titleItem {
            grid-area: title;
            font-size: clamp(18px, 1.7vw, 20px);
            color: $primary-color-text;
            @include font400;
        }
        .textItem {
            grid-area: text;
            font-size: clamp(14px, 1.4vw, 16px);
            margin-top: 4%;
            color: $primary-color-text;
            @include font400;
        }
    }
    &Btn {
        grid-area: btn;
    }
}

@media screen and (max-width: 768px) {
    .contentItemBox {
        flex-basis: 100%;
        grid-template-columns: 80px 80%;
        grid-template-rows: 80px 1fr;
    }
}

@media screen and (max-width: 468px) {
    .contentItemBox {
        grid-template-columns: 80px 64%;
    }
}