@import "../styleMixin/styleMixin.scss";

.App {
    max-width: 1170px;
    margin: 0 auto;
    padding: 5px;
}

h3 {
    font-size: $font-size-18-20;
    @include font500;
    color: $primary-color-text;
    line-height: 1.4;
    text-align: justify;
}

.sectionText {
    margin: $mt 0 $mt 0;

    &Paragraph {
        & p {
            font-size: $font-size-16-18;
            @include font400;
            color: $primary-color-text;
            line-height: 1.4;
            // text-align: justify;
            padding-top: 2%;
            word-break: break-word;
        }
    }
}

@media screen and (max-width: 768px) {
    p {
        text-align: left;
        font-size: clamp(13px, 2vw, 16px);
    }
}
