@import '../styleMixin/styleMixin.scss';

.textCenter {
    text-align: center;
}

.title {
    color: #444444;
    h2 {
        font-size: $font-size-18-36;
        @include font600;

        span {
            color: $primary-color-1;
        }
    }
    h4 {
        font-size: $font-size-18-24;
        @include font500;
    }

    .line {
        display: inline-block;
        width: 108px;
        height: 2px;
        background: $primary-color-2;
        margin-top: 4%;
    }
}