@import "../styleMixin/styleMixin.scss";

.sectionEducation {
    margin-top: $mt;
}

.subTitle {
    @include subTitleText;
}

.educationContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    row-gap: 30px;
    margin-top: $mt / 2;

    & .item {
        flex: 0 0 30%;

        & .itemImg,
        & .itemHeader,
        & .itemText {
            padding: 10px;
        }

        & .itemHeader {
            @include font400;
            color: $primary-color-text;

            & h2 {
                font-size: $primary-font-size-h2-20;
            }
        }

        & .itemText {
            @include font400;
            color: $primary-color-text;

            & p {
                font-size: $primary-font-size-p-17;
            }
        }

        & button {
            background: #f79f00;
            border: none;
            width: 200px;
            height: 35px;
            font-size: $primary-font-size-p-17;
            color: #ffff;
            @include font400;
            cursor: pointer;
        }
    }
}

@media screen and (max-width: 768px) {
    .educationContent {
        & .item {
            flex: 0 0 48%;
        }
    }
}

@media screen and (max-width: 480px) {
    .educationContent {
        & .item {
            flex: 0 0 100%;
        }
    }
}
