@import "../styleMixin/styleMixin.scss";

.sectionFeedback {
    margin-top: $mt;
}

.feedBackBox {
    display: flex;
    justify-content: space-between;
    gap: 2%;
}

.containerForm {
    flex-basis: 40%;
}

.formBodyRow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    row-gap: 40px;

    & .formItem {
        width: 100%;
        height: 40px;
        position: relative;
        border: none;
        border-bottom: 1px solid #c0c4c9;
        padding: 0 0 0 10px;

        & span {
            position: absolute;
            bottom: -15px;
            left: 0;
            color: red;
            font-size: 12px;
            @include font400;
        }
    }
}

.formText {
    font-size: 12px;
    margin-top: 20px;
    text-align: left;
    color: $primary-color-text;
    font-size: 12px;
    @include font400;

    & a {
        color: $primary-color-1;
    }
}

.containerImg {
    flex-basis: 50%;
}

@media screen and (max-width: 768px) {
    .containerImg {
        display: none;
    }
    .containerForm {
        flex-basis: 90%;
        margin: 0 auto;

        .title {
            text-align: center;
        }
    }
}