@import '../../styleMixin/styleMixin.scss';

.headerBaner {
    position: relative;
}
.titleBox {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 5;
}

.title {
    font-size: clamp(14px, 1.7vw, 20px);
    letter-spacing: 5px;
    @include font500;
}

.logoType {
    font-size: clamp(48px, 6.1vw, 72px);
    font-family: 'Russo One', sans-serif;
    font-style: italic;
    letter-spacing: 5px;
    margin-top: 4%;
}

.line {
    display: inline-block;
    width: 250px;
    height: 2px;
    background: $primary-color-2;
    margin-top: 2%;
}

.description {
    font-size: clamp(14px, 1.7vw, 20px);
    letter-spacing: 2px;
    @include font500;
    line-height: 1.4;
    margin-top: 2%;
}

.btn {
    width: 50%;
    max-width: 330px;
    min-height: 60px;
    line-height: 1;
    margin-top: 2%;
    background: $primary-color-1;
    border: none;
    font-size: clamp(14px, 1.7vw, 20px);
    color: $primary-color-textBtn;
    @include font500;
    line-height: 1;
    cursor: pointer;
}

.gradient {
    width: 100%;
    height: 100%;
    opacity: 0.2;
}

@media screen and (max-width: 768px) {
    .titleBox {
        width: 100%;
    }
    .logoType {
        font-size: clamp(20px, 3.6vw, 28px);
        margin-top: 2%;
    }
    .line {
        display: block;
        margin: 2% auto;
    }
    .description {
        display: none;
    }
    .btn {
        width: 40%;
        max-width: 330px;
        min-height: 40px;
    }
}